[submodule "vendor/jade"]
	path = vendor/jade
	url = https://github.com/visionmedia/jade.git
[submodule "vendor/mongoose"]
	path = vendor/mongoose
	url = https://github.com/LearnBoost/mongoose.git
[submodule "vendor/node"]
	path = vendor/node
	url = https://github.com/joyent/node.git
[submodule "vendor/connect-auth"]
	path = vendor/connect-auth
	url = http://github.com/ciaranj/connect-auth.git
[submodule "vendor/validator"]
	path = vendor/validator
	url = https://github.com/chriso/node-validator.git
[submodule "vendor/cookie-node"]
	path = vendor/cookie-node
	url = https://github.com/jaekwon/cookie-node.git
[submodule "vendor/nubnub"]
	path = vendor/nubnub
	url = https://github.com/technoweenie/nubnub.git
[submodule "vendor/xml2js"]
	path = vendor/xml2js
	url = git@github.com:jaekwon/node-xml2js.git
