p 
  | The tracker tool shows new content from any website.
  br
  a(href: "/admin/tracker/subscriptions") manage subscriptions

ul.diffs
  - diffs.forEach(function(diff) {
    li
      div.diff
        span(class: "title") #{(diff.title)}
        text &nbsp;
        span(class: "timeago") #{(new Date(Number(diff.timestamp))).time_ago()}
        br
        a(href: diff.url) #{diff.url}
        text &nbsp;
        a(href: diff.guid, class: "diffbot") (diffbot)
        text &nbsp;
  - })

:sass
  | body
  |   #body_contents
  |     :margin-left 10px
