p Send an email

form(action: "/admin/messages", method: "POST")
  input(type: "text", name: "from", data-default-text="from", value="jae@ycatalyst.com")#from
  br
  input(type: "text", name: "to", data-default-text="to")#to
  br
  input(type: "text", name: "subject", data-default-text="subject")#subject
  br
  textarea(name: "body", cols: 60, rows: 20, data-default-text="body")#body
  br
  input(type: "submit", value: "send")

:javascript
  | $(document).ready(function() {
  |   $('[data-default-text]').set_default_text();
  |   $('#body').make_autoresizable();
  | });
