
form(action: "/admin/tracker/subscriptions", method: "POST")#subscribe_form
  input(type: "text", name: "url")#new_subscription
  input(type: "submit", value: "+")
br

- if (subscriptions) {
  ul.subscriptions
    - subscriptions.forEach(function(subscription) {
      li
        div.subscription
          a(href: subscription.url, class: "url") #{subscription.url}: 
          text &nbsp;
          span(class: "username") added by #{(subscription.created_by)}
          text &nbsp;
          span(class: "timeago") #{(subscription.created_at).time_ago()}
    - })
- } else {
  i There are no subscriptions
- }

:sass
  | body
  |   #body_contents
  |     :margin-left 10px
  |   .subscription
  |     .url
  |       :text-decoration none

:javascript
  | $(document).ready(function() {
  |   $('#new_subscription').set_default_text('new URL subscription');
  | });

