$dark_link: #333
$light_text: #999
$the_font: Verdana, Verdana, Geneva, sans-serif

body
  color: black
  font-family: $the_font
  font-size: 10pt

  #headerbar
    img
      vertical-align: middle
    background-color: #3f3f3f
    padding: 4px
    color: #FFF
    .username
      font-weight: 900
    a
      color: #FFF
      text-decoration: none
    .logo
      font-weight: 700
    .links
      margin: 0px 20px

  #body_contents
    margin-top: 10px

  img
    border: 0px
    margin: 0px
    padding: 0px

  input[type=text]
    width: 460px
    padding: 2px
    font-family: $the_font
    font-size: 14px

  textarea
    padding: 2px
    min-width: 460px
    min-height: 100px
    font-family: $the_font
    font-size: 14px

  .record
    position: relative
    margin: 10px 0px
    a
      color: $dark_link
      &:visited
        color: $light_text
    .title
      text-decoration: none
      font-size: 10pt
    .host
      font-size: 10px
      color: $light_text
    a.upvote
      position: absolute
      left: -15px
      top: 3px
      text-decoration: none
      font-size: 10px
      color: $light_text
    .item_info
      position: relative
      color: $light_text
      font-size: 8pt
      a
        color: $light_text
        text-decoration: none
        &:hover
          text-decoration: underline
    &[data-root="true"]
      margin-left: 16px
      &>.item_info
        font-size: 7pt
    .contents
      margin: 2px 0px
      &.deleted
        color: gray
    &[data-root="true"]>.contents
      margin: 10px 0px
    .reply
      font-size: 0.8em
    .edit_box
      margin: 10px 0px
      button
        margin-top: 5px
    .reply_box
      margin: 10px 0px 10px 10px
      padding-left: 10px
      border-left: 1px solid #eee
      button
        margin-top: 5px
    .children
      border-left: 1px solid #eee
      margin-left: 10px
      padding-left: 10px
      .more
        color: $light_text
        text-decoration: none
        font-size: 0.8em

  label
    font-size: 0.8em
    color: gray

  ol, ul
    color: #AAF
    padding-left: 20px
    margin: 0px
    list-style-type: none
    li
      padding: 0px
      margin: 0px

  table
    th
      font-weight: 200
      color: gray

  input.default_text, textarea.default_text
    color: gray
    font-style: italic
    font-size: 0.9em
