body {
  color: black;
  font-family: Arial, Helvetica, sans-serif; }
  body .record {
    margin: 10px 0px; }
    body .record a {
      color: #666666; }
      body .record a:visited {
        color: #999999; }
    body .record p {
      margin: 2px 0px; }
    body .record .top_items {
      color: #999999;
      font-size: 0.8em; }
      body .record .top_items a {
        color: #999999;
        text-decoration: none; }
    body .record .reply {
      font-size: 0.8em; }
    body .record .children {
      border-left: 1px solid #eeeeee;
      margin-left: 10px;
      padding-left: 10px; }
      body .record .children .more {
        color: #999999;
        text-decoration: none;
        font-size: 0.8em; }
