$dark_link: #666
$light_link: #999

body
  color: black
  font-family: Arial, Helvetica, sans-serif

  .record
    margin: 10px 0px
    a
      color: $dark_link
      &:visited
        color: $light_link
    p
      margin: 2px 0px
    .top_items
      color: $light_link
      font-size: 0.8em
      a
        color: $light_link
        text-decoration: none
    .reply
      font-size: 0.8em
    .children
      border-left: 1px solid #eee
      margin-left: 10px
      padding-left: 10px
