p Recent applicants:

text TODO show some voting functionality here.

ol.applicants
  - applicants.forEach(function(applicant) {
    li
      div.applicant
        text someone
  - })

:sass
  | .timeago
  |   :font-size 0.8em

:javascript
  | $(document).ready(function() {
  | });
