p
  | Drag the link below to your bookmarks bar.
  br
  br
  a(href: "javascript: window.location=%22http://ycatalyst.com/submit?url=%22+encodeURIComponent(document.location)+%22&title=%22+encodeURIComponent(document.title)")#bookmarklet YCat Submit

:sass
  | #bookmarklet
  |   :font-size 1.3em 
