!!! 5
html(lang="en")
  head
    title= "1amendment"
    script(type="text/javascript", src="https://www.google.com/jsapi?key=ABQIAAAAV88HHyf8NBcAL3aio53OixSEBwhbzDd0F998UkbSll3boCkrihTFj2uO3yETr_J5z25r2aIc4YCVpQ")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/webfont/1.0.17/webfont.js")
    link(type="text/css", rel="stylesheet", href=require('./utils').static_file("main.css"))
  body

    div#headerbar
      - if (current_user)
        span.username #{current_user.username}
      - else
        span.username anonymous
        a.login(href: "/login") login

    ul.records
      - records.forEach(function(record) {
        li
          !{record.render_headline()}
      - })

  :sass
    | body
    |   .login
    |     :float right
    |   .record
    |     :margin 0px 0px
    |   ul.records
    |     :margin 10px 0px

  :javascript
    | $(document).ready(function() {
    | });
    | WebFont.load({ //WebFontConfig = {
    |   google: {
    |     families: []
    |   }
    | });
