ul.records
  - records.forEach(function(record) {
    li
      - options = {current_user: current_user}
      !{record.render_headline(options)}
  - })

:sass
  | body
  |   #body_contents
  |     :margin-left 10px
  |   .record
  |     :margin 0px 0px
  |     .item_info
  |       :position relative
  |       :top -4px
  |       :font-size 7pt

:javascript
  | $(document).ready(function() {
  | });
