ul.records
  - records.forEach(function(record) {
    li
      !{record.render_headline()}
  - })

:sass
  | body
  |   .record
  |     :margin 0px 0px
  |   ul.records
  |     :margin 10px 0px

:javascript
  | $(document).ready(function() {
  | });
