- if (typeof message != 'undefined')
  p #{message}
- else
  p login here

form(action: "/login", method: "POST")
  table
    tr
      td
        label username
      td
        input(name: "username")
    tr
      td
        label password
      td
        input(name: "password", type: "password")
    tr
      td(colspan: 2)
        input(type: "submit", value: "login")

p 
  | new user?
  br 
  | register if you have an invite code

form(action: "/register", method: "POST")
  table
    tr
      td
        label desired username
      td
        input(name: "username")
    tr
      td
        label desired password
      td
        input(name: "password", type: "password")
    tr
      td
        label email
      td
        input(name: "email")
    tr
      td
        label invite code
      td
        input(name: "invite")
    tr
      td(colspan: 2)
        input(type: "submit", value: "register")
