!!! 5
html(lang="en")
  head
    title= "YCatalyst"
    script(type="text/javascript", src="https://www.google.com/jsapi?key=ABQIAAAAV88HHyf8NBcAL3aio53OixSEBwhbzDd0F998UkbSll3boCkrihTFj2uO3yETr_J5z25r2aIc4YCVpQ")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(type="text/javascript", src="/static/underscore.js")
    script(type="text/javascript", src=require('./utils').static_file("client.js"))
    link(type="text/css", rel="stylesheet", href=require('./utils').static_file("main.css"))
  body

    p #{message}
