!!! 5
html(lang="en")
  head
    title= "1amendment"
    script(type="text/javascript", src="https://www.google.com/jsapi?key=ABQIAAAAV88HHyf8NBcAL3aio53OixSEBwhbzDd0F998UkbSll3boCkrihTFj2uO3yETr_J5z25r2aIc4YCVpQ")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/webfont/1.0.17/webfont.js")
    script(type="text/javascript", src="/static/underscore.js")
    script(type="text/javascript", src="/static/backbone.js")
    script(type="text/javascript", src=require('./utils').static_file("client.js"))
    link(type="text/css", rel="stylesheet", href=require('./utils').static_file("main.css"))
  body

    !{root.render()}

  :sass
    |

  :javascript
    | $(document).ready(function() {
    | });
    | WebFont.load({ //WebFontConfig = {
    |   google: {
    |     families: []
    |   }
    | });
