- render_options = {current_user: current_user, is_root: true}
!{root.render(render_options)}

- if (current_user)
  div#current_user(style: "display: none", 'data-id': current_user._id, 'data-username': current_user.username)

:sass
  |

:javascript
  | $(document).ready(function() {
  | });
