p
  | Use this form to refer somebody you know into the network.
  br
  | The referred person still needs to fill out an application. You can view and vote on applicants 
  a(href: "/applicants") here

form(action: "/refer", method: "POST")
  input(type: "text", name: "first_name")#first_name
  br
  input(type: "text", name: "last_name")#last_name
  br
  input(type: "text", name: "email")#email
  br
  input(type: "submit", value: "submit")

:sass
  | #first_name, #last_name, #email
  |   :width 200px

:javascript
  | $(document).ready(function() {
  |   $('#first_name').set_default_text('first name');
  |   $('#last_name').set_default_text('last name');
  |   $('#email').set_default_text('email');
  | });
