- options = {is_root: true, current_user: current_user}
!{parent.render(options)}

form(action=parent.comment_url(), method="post")
  textarea(name="comment")
  br 
  input(type="submit", value="add comment")

:sass
  | .record
  |   :margin-bottom 10px
  |   :padding-left 10px

:javascript
  | $(document).ready(function() {
  | });
